.satisfaction {
    padding: 106px 67px 0 64px;
    
    &__title {
        margin-top: 102px;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF;
    }
    &__title-mobile {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        text-align: center;
        color: rgba(255, 255, 255, 0.96);
    }
    &__wrapper {
        display: inline-flex;
        margin-bottom: 76px;
    }
    &__card-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 345px;
        height: 194px;
        left: 49px;
        top: 24px;
        gap: 16px;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.96);
    }
    &__card-purple {
        position: relative;
        margin-top: 56px;
        width: 558px;
        height: 253px;
        left: 1px;
        top: 0px;
        background: #944BD6;
        border-radius: 32px;
           
    }
    &__card-blue {
        position: relative;
        margin-top: 56px;
        width: 477px;
        height: 253px;
        right: 147px;
        top: 0px;
        border-radius: 32px 0 0 32px;
        background: #135AED;
    }
    &__card-green {
        position: relative;
        margin-top: 56px;
        width: 423px;
        height: 253px;
        right: 177px;
        top: 0px;
        background: #B7D521;
        border-radius: 32px;
    }
}